 @charset "UTF-8";

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur.ttf') format('ttf');
}
@font-face {
    font-family: 'Iceland';
    src: url('fonts/Iceland.ttf') format('truetype');
}
@font-face {
    font-family: 'Prata';
    src: url('fonts/Prata-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope.ttf') format('truetype');
}

body {
	width: 100%;
    height: 100%;
    overflow-x: hidden;
	display: inline-block;
	background-color: #f7f7f7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
body.overlay {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.title {
	font-family: 'Prata';
	color: #1538AE;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.75px;
	margin: 0 0 0 10vw;
}
.sub_title {
	font-family: 'Prata';
	color: #1538AE;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.75px;
	margin: 1vh 4vw;
}
.sub_info {
	text-align: left;
	font-family: 'Manrope';
	color: #000;
	font-size: 18px;
	letter-spacing: 0.75px;
	margin: 0.5vh 0 0 6vw;
	width: 65%;
}
.title:hover {
	cursor: default
}
.title_r {
	text-align: right;
	font-family: 'Prata';
	color: #fff;
	font-weight: 1000;
	font-size: 35px;
	letter-spacing: 0.75px;
	margin-right: 5vw;
}
.title_r:hover {
	cursor: default
}

.about_info{
	text-align: left;
	font-family: 'Manrope';
	color: #000;
	font-size: 18px;
	letter-spacing: 0.75px;
	margin: 1% 0 0 10%;
	width: 65%;
}
.about_info_r{
	text-align: right;
	font-family: 'Manrope';
	font-size: 20px;
	letter-spacing: 0.75px;
	margin-right: 5vw;
	margin-left: auto;
	width: 60vw;
}
.about_info_l{
	text-align: left;
	font-family: 'Manrope';
	font-size: 18px;
	color: #000;
	letter-spacing: 0.75px;
	margin: 2% auto 0 10%;
	width: 80vw;
}
.activity_list {
	margin-top: 1%;
}
.about_info_l p {
	color: #1538AE;
}
.activity_information {
	margin-top: 5%;
}
.career_information {
	margin-top: 5%;
}
.activity_info{
	text-align: left;
	font-family: 'Manrope';
	color: #000;
	font-size: 20px;
	letter-spacing: 0.75px;
	margin: 0.2% 0 0 15%;
	margin: 1% 0 0 15%;
	width: 70%;
}
.up_arrow {
	z-index: 3;
	position: absolute;
	width: 5vw;
	bottom: 10vh;
  	right: 0;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.title_act {
	font-family: 'Prata';
	color: #1538AE;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.75px;
	margin: 3% 0 0 15vw;
}

.up_arrow img{
	position: fixed;
	width: 5vw;
}
.panel {
	height: 15vh;
	display: flex;
	background-color: #fff;
	align-items: center;
	padding:0 25px 0 25px;
}
.panel p{
	color: #1538AE;
	font-weight: 500;
}
.logo {
	margin-left: 5vw;
	font-family: 'Tektur';
	color: #124f6b;
	font-size: 30px;
	display: flex;
}
.logo:hover {
	cursor: pointer;
}

.nav_bar {
	font-family: 'Tektur';
	color: #aaa997;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	margin-left: auto;
	margin-right: 3vw;
	display: flex;
	gap: 30px;
}
.nav_bar p:hover {
	cursor: pointer;
	text-decoration: underline;
}
.photo {
    width: 100vw;
    height: 89vh;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main{
	padding-top: 10vh;
	position: absolute;
	margin-top: 10vh;
	margin-bottom: 13vh;
}
.main p {
	color: #fff;
	font-size: 25px;
}

.about {
	margin: 10vh 0 10vh 0;
}

.activities {
	padding-top: 5vh;
	padding-bottom: 5vh;
	background-color: #1538AE;
}
.activities p {
	color: #fff;
}
.partners {
	padding-top: 5vh;
	padding-bottom: 5vh;
	background-color: #fff;

}
.partners p {
	color: #1538AE;
}
.partners_cont{
	display: flex;
}
.partners_cont_1 {
	width: 20%;
	margin: 3% 2% 3% 15%;
}
.partners_img_1{
	width: 20vw;
	border-radius: 8px;
}
.partners_cont_2 {
	width: 20.5%;
	margin: 3% 2%;
}
.partners_img_2{
	width: 20.5vw;
	
	border-radius: 8px;
}
.partners_cont_3 {
	width: 18.5%;
	margin: 3% 2%;
}
.partners_img_3{
	width: 18.5vw;
	margin: 3% 2%;
	border-radius: 8px;
}
.block {
	margin-top: 3%;
	display: flex;
}

.career {
	padding-top: 10vh;
	padding-bottom: 10vh;
	background-color: #1538AE;
}
.career p {
	color: #fff;
}

.link_to_w {
	width: 20vw;
	background-color: #fff;
	border-radius: 4px;
	font-family: 'Manrope';
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin: 2% 0 0 10%;
	text-align: center;
	padding: 2vh 0 2vh 0;
	transition: 0.3s;
}

.link_to_w:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: translate(0, -3px);
}

.link_to_b {
	width: 20vw;
	background-color: #1538AE;
	border-radius: 4px;
	font-family: 'Manrope';
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin: 2% 0 0 10%;
	text-align: center;
	padding: 2vh 0 2vh 0;
	transition: 0.3s;
	color: #fff;
}
.link_to_b:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: translate(0, -3px);
}

.form_button {
	width: 15vw;
	background-color: #1538AE;
	border-radius: 4px;
	font-family: 'Manrope';
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin: 2% 0 0 4%;
	text-align: center;
	padding: 2vh 0 2vh 0;
	transition: 0.3s;
	color: #fff;
}
.form_button:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: translate(0, -3px);
}

.carousel {
    position: relative;
    width: 100vw;
    height: 85vh;
    margin: 0;
}
.slides {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
}
.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel_button {
    height: 100%;
    width: 6%;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel_button.prev{
    left: 0;
    transition: 0.5s;
}
.carousel_button.next{
    right: 0;
    transition: 0.5s;
}
.carousel_button.prev:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
}
.carousel_button.next:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
}
.about_block {
	display: flex;
}

.number {
	font-family: "Iceland";
	font-size: 60px;
	color: #a1a1a1;
	line-height: 0px;
	margin: 0;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.line {
	display: flex;
	height: 7vh;
	margin-left: 5%;
}
.list {
	margin: 0 0 0 0;
	width: 50vw;
}
.text {
	margin: 0 0 0 3%;
	font-family: "Manrope";
	font-size: 18px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: auto;
  }

.footer {
	margin-top: 10vh;
	padding-bottom: 3vh;
}
.footer_info {
	display: flex;
	
}
.footer_info p {
	font-family: 'Manrope';
	font-size: 18px;
	letter-spacing: 0.75px;
	margin-left: 10vw;
}
.left_side {
	width: 50vw;
}
.right_side p{
	margin-left: 0;
}
.map {
	z-index: 0;
	margin: 0;
}

.work-list {
    max-width: 70%;
    margin: 1% auto;
    padding: 0 2vw;
    padding: 0 15px;
    background-color: #fff;
}

.work-item {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.work-item:last-child {
    border-bottom: none;
}

.work-title {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prata';
	color: #1538AE;
	font-weight: 400;
	font-size: 25px;
}

.work-title:hover{
	color: #7285c2;
}
.work-details {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    padding: 0 2vh;
    margin-bottom: 1vh;
    transition: max-height 1s ease, padding 0.8s ease;
}

.work-details.open {
    max-height: 80vh;
    padding-top: 2vh;
    padding-top: 2vh;
}

.btn {
	border: none;
	width: 70%;
	background-color: #1538AE;
	border-radius: 4px;
	font-family: 'Manrope';
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin: 2% 0 0 15%;
	text-align: center;
	padding: 2vh 0 2vh 0;
	transition: 0.3s;
	color: #fff;
}
.btn:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: translate(0, -3px);
}


.form-popup {
   display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.form-container {
	background-color: #f7f7f7;
	margin: 15% auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: relative;
    z-index: 10;
    border-radius: 4px;
}

.form-container h2 {
    margin-bottom: 15px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container .cancel {
    background-color: red;
}
.form_title {
	font-family: 'Prata';
	color: #1538AE;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 0.75px;
	margin: 0 0 5vh 0vw;
}
.form_text {
	font-family: "Manrope";
	font-size: 16px;
}
.selecter {
	width: 100%;
	padding: 2% 1%;
	color: #757575;
	border: 1px solid #ccc;
    margin: 5px 0 10px 0;
}

.loader {
    width: 20px;
    height: 20px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.documents {
	margin-top: 5%;
	font-family: "Manrope";
}
.document_title {
	font-weight: 700;

}
.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}


.document-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 3%;
    margin-left: 0%;
}

.document-list li {
    margin: 10px 0;
	align-items: center;
	display: flex;

}

.document-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.document-list a:hover {
    text-decoration: underline;
}
.line {
	align-items: center;
	display: flex;
	gap: 1%;
}

